body {
    background-color: #181818;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 200;
    font-size: 1.2em;
    transition: all 0.5s;
    user-select: none;
}

h1 {
    color: white;
    font-size: 10rem;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 100;
    line-height: 0em;
}

h4 {
    font-weight: 100;
    color: white;
    font-size: 2em;
    line-height: 20px;
    padding: 0px;
    margin: 0px;
}

p {
    line-height: 20px;
    padding: 0px;
    margin: 10px;
}

.container {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    align-items: center;
    justify-items: center;
}

.companion-container {
    display: grid;
    grid-template-columns: 1;
    align-items: center;
    justify-content: center;
}

.click-companion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: grey;
    border-radius: 100%;
    background-color: #690f09;
    height: 250px;
    width: 250px;
}

.click-companion-cost {
    margin-top: 20px;
}

.click {
    transition: all 0.1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: dimgrey;
    height: 500px;
    width: 500px;
    user-select: none;
}

.clicking {
    transition: all 0.1s;
    transform: scale(0.96);
    background-color: green;
}

.auto-clicker {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 100%;
    background-color: burlywood;
    height: 250px;
    width: 250px;
}

.available {
    background: linear-gradient(90deg, rgba(34, 121, 70, 1) 0%, rgba(143, 255, 86, 1) 100%) !important;
    color: white;
    transition: all 0.5s;
    transition-timing-function: ease;
}

.available:hover {
    background: linear-gradient(90deg, rgba(143, 255, 86, 1) 0%, rgba(34, 121, 70, 1) 100%) !important;
    color: white;
}

.reset {
    margin-top: 20px;
    height: 40px;
    width: 200px;
    border-radius: 15px;
    background-color: rgb(28, 133, 106);
}