body {
    background-color: #181818;
}
h1 {
    color: white;
    font-size: 8rem;
    font-family: sans-serif;
    font-weight: 10;
    line-height: 0em;
}
.container {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.click-companion {
    display: grid;
    grid-template-columns: 1;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: aqua;
    height: 250px;
    width: 250px;
}

.click {
    display: grid;
    grid-template-columns: 1;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: dimgrey;
    height: 500px;
    width: 500px;
}

.click-compounder {
    display: grid;
    grid-template-columns: 1;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: burlywood;
    height: 250px;
    width: 250px;
}